*{ 
    background-color: rgb(229, 199, 252);
}

div {
display: grid;
grid-template-areas: 
"navegacion navegacion"
"menu menu"
"seccion1 lateral"
"pie pie";
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(2, 100px);


}

nav {
    grid-area: navegacion;
} 
nav ul{
display: flex;  
list-style: none;
padding: 0;
margin: 0;
}
nav ul li {
    flex-grow: 1;
}
nav ul li a {

display: block;
padding: 10px;
text-decoration: none;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
text-align: center;
color: black;
}
nav ul li a:hover {
    color: blueviolet;
}
header{
    grid-area: menu;
    text-align: center;
    color: rgb(240, 240, 240);
}
main {
    
    padding: 15px;
    border: 1 solid black;
    margin: auto;
}
.titulo1 {
    text-align: center;
}
.titulo2 {
    text-align: center;
}
#sobreNosotros {
   grid-area: seccion1;
   text-align: center;
}
#DondeEstamos{
   grid-area: lateral;
   text-align: center;
}
/* la imagen es ejemplo de ubicacion en mapa */
img {
    max-width: 100%;
    height: auto;
}
footer {
    grid-area: pie;
    padding: 4px;
    text-align: center;
    font-size: 25px;
}
footer:hover {
    color: blueviolet;
}
/* medidas tablet */
@media (min-width: 768px) {
#pantalla { 
    grid-template-columns: repeat(2, 100%);
}
}
/* Computadoras */
@media (min-width: 1200px) {
#pantalla { 
        grid-template-columns: repeat(4, 50%)
} 
}
.cosas-ricas {
    font-size: 30px;
    color: azure;
    padding: 2px;
    text-decoration: underline;
}
.comida { 
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: auto;
    border: 1px solid rgb(152, 152, 152);
}


#hamburguesa {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid ;

}
#milanesas {
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid ;
}
#pastas {
    list-style: none;
    padding-bottom: 20px;
    
}
h2 {
    display: flex;
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}
header {
    transition: 2s;
}
header:hover {
    transform: translate(0px, 10px);
}
.nav-index {
    transition: 2s;
}
.nav-index:hover {  
    transform: translate(0px, 10px);
}

#experiencias {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.carlos-p {
    margin: 15px;
    padding: 15px;
}
.carlos-p:hover {
    color: blueviolet;
    border: 2px solid;
}
.mabel-p {
    margin: 15px;
    padding: 15px;
}
.mabel-p:hover { 
    color: blueviolet;
    border: 2px solid;
}
.erica-p {
    margin: 15px;
    padding: 15px;
}
.erica-p:hover { 
    color: blueviolet;
    border: 2px solid;
}
.augusto-p {
    margin: 15px;
    padding: 15px;
}
.augusto-p:hover { 
    color: blueviolet;
    border: 2px solid;
}
$redes: (
    twitter: rgb(129, 224, 255),
    instagram: rgb(255, 50, 228),
    facebook: rgb(0, 0, 210),
);
$borde: solid 1px black;
$espacioInterno: 10px;

@each $nombreDeRed, $color in $redes {
.btn-#{$nombreDeRed} {
     background-color: $color;
     border: $borde;
     padding: $espacioInterno;
    }
}